.reflections {
  display: flex;
  flex-direction: column;
  align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
  background-color: var(--primary-color);
}

.reflection__article {
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 1rem;
}

.reflection__article-title {
  font-size: 1.75rem;
}

.reflection__article-body {
  font-size: 1.25rem;
}