.reflection-page {
	display: flex;
  flex-direction: column;
  align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.reflection-page article {
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 0.5rem;
  max-width: 50vw;
}

.reflection-title {
  font-size: 1.75rem;
}

.reflection {
  font-size: 1.25rem;
}