.reflection {
  display: flex;
  flex-direction: column;
  align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
  background-color: var(--primary-color);
  min-height: 80vh;

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
  }

  &_article-title {
    font-size: 1.75rem;
  }

  &__article-body {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1000px) {
  .reflection {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}