.reflection {
  display: flex;
  flex-direction: column;
  align-items: center;
	flex-wrap: wrap;
  background-color: var(--primary-color);
  min-height: 80vh;
  padding-top: 30px;

  &__title {
    font-family: var(--fancy-font);
    font-size: 2.5rem;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
  }

  &__article-title {
    font-size: 1.75rem;
    font-weight: 300;
  }

  &__article-body {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .reflection__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 5rem;
  }
}