.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  height: 90vh;

  &__title {
    font-family: var(--fancy-font);
    font-size: 2.5rem;
  }

  &__link {
    cursor: pointer;
  }
}

.react-pdf__Page__canvas {
  width: 100px;
}