@use "../../styles/variables" as *;

.resume {
  @include center-items;
  background-color: var(--primary-color);
  min-height: 80vh;

  &__title {
    font-family: var(--fancy-font);
    font-size: 2.5rem;
  }

  &__container {
    border: none;
    width: 100%;
    flex: 1;
    margin: 0 0 4rem;
  }
}

@media screen and (min-width: 700px) {
  .resume {
    &__container {
      width: 80%;
      height: 900px;
    }
  }
}