.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  /* background-color: var(--contrast-color); */
  height: 90vh;
}

.resume__title {
  /* color: var(--primary-color); */
  font-family: var(--fancy-font);
  font-size: 2.5rem;
}

.resume__link {
  cursor: pointer;
}

/* .resume__container { */
  /* border: none; */
  /* width: 80%; */
  /* height: 80%; */
  /* margin: 0 auto; */
/* } */

.react-pdf__Page__canvas {
  width: 100px;
}