.contact {
	display: flex;
	justify-content: center;
}

.contact__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: powderblue;
	border-radius: 30px;
	width: 440px;
  height: 527px;
	padding: 48px 40px;
  margin: 50px;
}

.contact__title {
  text-transform: uppercase;
  font-weight: 300;
}

.contact__form {
	width: 100%;
}

.contact__field {
	margin: 20px 0;
}

#name,
#email,
#phone,
#comments,
.contact__submit {
	border: 1px solid var(--contrast-color);
	border-radius: 10px;
	padding: 10px;
	width: 100%;
  font-size: 1rem;
}

.contact__submit {
  background-color: #EFF5F6;
  width: 100%;
  font-size: 1.25rem;
  color: var(--contrast-color);
}

.contact__submit:hover {
  background-color: #5F9EA0;
  color: #EFF5F6;
  cursor: pointer;
}