.contact {
	display: flex;
  flex-direction: column;
	justify-content: center;
  /* background-color: var(--primary-color); */
  /* background-color: var(--contrast-color); */
  background-color: var(--contact-color);
}

.contact__greeting {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-rows: .25fr 1fr;
  height: 300px;
	background-color: #E3C7AF;
	/* background-color: #fff; */
  margin: 20px 20px 0;
}

.contact-top {
  grid-column: 1/4;
  text-align: center;
}

.contact__title {
  font-family: "Xanh Mono", monospace;
  font-weight: 300;
  font-size: 1.7rem;
}

.contact__message {
  padding: 10px;
  font-size: .75rem;
  line-height: 1.5rem;
}

.middle-line {
  grid-column: 2/3;
  height: 70%;
  width: 1px;
  margin: 10px auto;
  background-color: black;
}

.contact__form {
	background-color: #E3C7AF;
	/* background-color: #fff; */
  margin: 0 20px 20px;
}

.contact__field {
	margin: 20px 0;
}

.required-id {
  color: firebrick;
}

.contact__input,
.contact__submit {
	/* border: 1px solid var(--contrast-color); */
	/* border-radius: 10px; */
  background-color: var(--secondary-color);
  border: none;
  border-bottom: 1px solid #AA9785;
	padding: 10px;
	width: 90%;
  margin: 0 10px;
  font-size: 1rem;
}

.contact__submit {
  background-color: #EFF5F6;
  width: 100%;
  font-size: 1.25rem;
  color: var(--contrast-color);
}

.contact__submit:hover {
  background-color: #5F9EA0;
  color: #EFF5F6;
  cursor: pointer;
}