.contact-page {
	display: flex;
	justify-content: center;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: powderblue;
	border-radius: 30px;
	width: 440px;
  height: 527px;
	padding: 48px 40px;
  margin: 50px;
}

.contact-form {
	width: 100%;
}

.name,
.email,
.phone-number,
.comments,
.submit-button {
	margin: 20px;
}

#name,
#email,
#phone-number,
#comments,
#submit-button {
	border: 1px solid cadetblue;
	border-radius: 20px;
	padding: 18px;
	width: 90%;
  font-size: 1rem;
}

#submit-button {
  background-color: #EFF5F6;
  width: 100%;
  font-size: 1.25rem;
  color: cadetblue;
}

#submit-button:hover {
  background-color: #5F9EA0;
  color: #EFF5F6;
  cursor: pointer;
}