.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--contact-color);
  min-height: 80vh;
}
.contact__greeting {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  grid-template-rows: 0.25fr 1fr;
  background-color: var(--postcard-color);
  height: 300px;
  margin: 20px 20px 0;
}
.contact__title {
  font-family: var(--fancy-font);
  font-weight: 300;
  font-size: 1.7rem;
}
.contact__message {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 10px;
  margin-left: 10px;
}
.contact .contact-top {
  grid-column: 1/4;
  text-align: center;
}
.contact__form {
  background-color: var(--postcard-color);
  margin: 0 20px 20px;
}
.contact__field {
  margin: 20px;
}
.contact__field--label {
  color: var(--postcard-contrast-color);
  padding: 10px;
  margin-bottom: 5px;
}
.contact__input, .contact__textarea, .contact__submit {
  border: none;
  border-bottom: 1px solid var(--postcard-contrast-color);
  background-color: var(--postcard-color);
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}
.contact__input:hover, .contact__textarea:hover, .contact__submit:hover {
  background-color: var(--secondary-color);
}
.contact__textarea {
  height: 120px;
}
.contact__textarea--count {
  color: rgba(0, 0, 0, 0.751);
  font-size: 0.75rem;
}
.contact__actions {
  padding: 20px 50px 70px;
}
.contact__submit {
  border: 2px solid var(--postcard-contrast-color);
  color: var(--postcard-contrast-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.contact__submit:hover {
  background-color: var(--postcard-contrast-color);
  color: var(--postcard-color);
}

.middle-line {
  grid-column: 2/3;
  height: 70%;
  width: 1px;
  margin: 10px auto;
  background-color: black;
}

.contact-btm-rt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stamp {
  --r: 5px;
  height: 70px;
  aspect-ratio: 1;
  padding: var(--r);
  background: #b3b39c;
  -webkit-mask: radial-gradient(50% 50%, rgba(0, 0, 0, 0) 66%, #000 67%) round var(--r) var(--r)/calc(2 * var(--r)) calc(2 * var(--r)), conic-gradient(#000 0 0) content-box;
          mask: radial-gradient(50% 50%, rgba(0, 0, 0, 0) 66%, #000 67%) round var(--r) var(--r)/calc(2 * var(--r)) calc(2 * var(--r)), conic-gradient(#000 0 0) content-box;
  margin-right: 10px;
}

.address-lines-container {
  width: 100%;
}

.address-lines {
  background-color: var(--font-color);
  border: none;
  height: 1px;
  width: 120px;
  margin: 20px 0;
}

.required-id {
  color: firebrick;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.751);
  font-weight: 200;
  font-size: 0.75rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.751);
  font-weight: 200;
  font-size: 0.75rem;
}

@media screen and (min-width: 650px) {
  .contact__greeting, .contact__form {
    max-width: 650px;
  }
  .contact__greeting {
    margin: 20px auto 0;
  }
  .contact__message {
    font-size: 1rem;
  }
  .contact__form {
    margin: 0 auto 20px;
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */