.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  flex-wrap: wrap;
	/* box-shadow: gray 0 2px 8px; */
  background-color: var(--primary-color);
	min-height: 64px;
	min-height: 100px;
}

.contact-header {
  background-color: var(--contact-color);
}

.header__initial--char {
  font-size: 4rem;
  font-family: "Xanh Mono", monospace;
}

.header__nav-bar--desktop {
  display: none;
}

.nav-overlay.open {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.header__nav-bar--mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  z-index: 1;

  background-color: var(--secondary-color);

  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.header__nav-bar--mobile.open {
  transform: translateX(0);
}

.header__initial--char,
#hamburger-icon {
  margin: 5px 10px;
}

.header__nav-bar--mobile a,
#close-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.75rem;
  color: var(--contrast-color);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

/* .header__nav-bar--mobile a:hover {
  background-color: var(--primary-color);
} */

#close-btn {
  margin: 20px 0;
}
/* .nav-buttons {
	display: flex;
	justify-content: space-around;
	width: 30rem;
  text-align: center;
  margin-right: 5px;
}

.nav-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 9.3rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;

  text-decoration: none;
  color: black;
}

.nav-buttons a:hover {
  cursor: pointer;
  background-color: aliceblue;
} */

/* .resume {
  text-decoration: none;
  color: black;
} */