.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
	min-height: 64px;
	min-height: 100px;

  &__initial--char {
    font-size: 4rem;
    font-family: var(--fancy-font);
    text-decoration: none;
  }

  // DESKTOP VIEW
  &__nav-bar--desktop {
    display: none;
  }

  // MOBILE VIEW
  &__nav-bar--mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    z-index: 1;

    background-color: var(--secondary-color);

    transform: translateX(100%);
    transition: transform 0.5s ease;

    &.open {
      transform: translateX(0);
    }
  }
}

.contact-header {
  background-color: var(--contact-color);
}

.project-header {
  background-color: var(--project-color);
}

.nav-overlay {
  pointer-events: none;
}

.nav-overlay.open {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: auto;
}

.header__initial--char,
#hamburger-icon {
  margin: 5px 10px;
}

.header__nav-bar--mobile a,
#close-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.75rem;
  color: var(--contrast-color);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

#close-btn {
  margin: 20px 0;
}

@media screen and (min-width: 1000px) {
  .header {
    &__initial--char {
      font-size: 5rem;
      margin-left: 30px;
    }

    &__nav-bar--desktop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50vw;
      margin: 0 20px 0;
      padding: 0;
      list-style-type: none;

      list-style: none;
      
      li {
        // padding: 1.25em;
        cursor: pointer;
      }
      
      li a {
        display: block;
        border-radius: 3px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        padding: 1.25em;
      }
      
      li a:hover {
        background-color: var(--primary-hover-color);
      }
    }
  }

  .contact-header {
    .header__nav-bar--desktop li a:hover {
      background-color: var(--contact-hover-color);
    }
  }

  .project-header {
    .header__nav-bar--desktop li a:hover {
      background-color: var(--project-hover-color);
    }
  }

  #hamburger-icon {
    display: none;
  }

  .header__nav-bar--mobile,
  .nav-overlay {
    display: none;
  }
}