.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  flex-wrap: wrap;
	/* box-shadow: gray 0 2px 8px; */
  background-color: #EDF9FE;
	min-height: 64px;
	min-height: 100px;
}

.color-mode-icons {
  cursor: pointer;
}

i {
  margin: 1rem;
  cursor: pointer;
}

.header__nav-bar--desktop {
  display: none;
}

.header__nav-bar--mobile {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  /* background-color: $secondary-color; */
  overflow-x: hidden;
  padding-top: 30px;
  transition: width 0.5s ease;
}

.header__nav-bar--mobile a,
#close-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.75rem;
  /* color: $light-brown; */
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

#close-btn {
  margin: 20px 0;
}
/* .nav-buttons {
	display: flex;
	justify-content: space-around;
	width: 30rem;
  text-align: center;
  margin-right: 5px;
}

.nav-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 9.3rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;

  text-decoration: none;
  color: black;
}

.nav-buttons a:hover {
  cursor: pointer;
  background-color: aliceblue;
} */

/* .resume {
  text-decoration: none;
  color: black;
} */