.footer {
  font-family: "Xanh Mono", monospace;
	display: flex;
  flex-direction: column;
	align-items: center;
  padding: 30px;
  background-color: var(--secondary-color);
}

.footer__links-icon {
  margin: 10px;
}

.footer__links-icon--img {
  height: 30px;
  transition: transform .5s;
}

.footer__links-icon--img:hover {
  transform: scale(1.5);
}
