footer {
	display: flex;
	justify-content: center;
  padding-top: 30px;
}

footer a {
	margin: 0 1rem;
}

footer img {
  height: 50px;
  transition: transform .5s;
}

footer img:hover {
  transform: scale(1.5);
}
