.typing-animation {
  display: inline-block;
  margin: 20px;

  &__main {
    color: #E3C7AF;
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }

  &__secondary {
    font-size: 3.5rem;

    font-family: var(--fancy-font);
    font-weight: 400;
    font-style: normal;
  }
}