.typing-animation {
  display: inline-block;
  margin: 20px;
}

/* .typing-container {
  display: flex;
  flex-direction: column;
} */

.typing-animation__main {
  color: #E3C7AF;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.typing-animation__secondary {
  font-size: 3.5rem;

  font-family: var(--fancy-font);
  font-weight: 400;
  font-style: normal;
}
