.typing-animation {
  display: inline-block;
  margin: 50px;
}

.typing-container {
  display: flex;
  flex-direction: column;
}

.intro-main {
  color: #E3C7AF;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.intro-secondary {
  font-size: 4rem;

  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
