@use "../../styles/variables" as *;

.typing-animation {
  @include center-items;
  align-items: flex-start;
  margin: 20px;

  &__main {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
  }

  &__secondary {
    font-family: var(--fancy-font);
    font-size: 2.5rem;
    width: 18ch;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .typing-animation {
    &__main {
      font-size: 2.5rem;
    }
    &__secondary {
      font-size: 4rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .typing-animation {
    &__main {
      font-size: 3rem;
    }
    &__secondary {
      font-size: 5rem;
    }
  }
}