.main-body {
  /* font-family: Lato; */
	/* margin: 0; */
  /* min-height: 100vh; */
  /* background-color: orange; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;*/
  min-height: 100vh;
}

/* main {
  background-color: blueviolet;
} */

/* .hidden {
  display: none!important;
} */