* {
  box-sizing: border-box;
  color: var(--font-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #EDF9FE;
  --primary-hover-color: #cce8f4;
  --secondary-color: #E3C7AF;
  --contrast-color: #033D5E;
  --contact-color: #8EA9AA;
  --contact-hover-color: #a4babb;
  --font-color: #031B2B;
  --postcard-color: #FBE9D2;
  --postcard-contrast-color: #6D421C;
  --project-color: #FFDCC7;
  --project-hover-color: #ffcdad;
  
  --fancy-font: "Xanh Mono", monospace;
}