@media screen and (max-width: 773px) {
  .header {
    justify-content: center;
  }
}

.resume {
  text-decoration: none;
  color: black;
}

.about-page,
.reflection-page,
.contact-page {
  min-height: 80vh;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}

.slideshow-container {
  max-width: 700px;
  margin: auto;
  width: 100%;
}

.slideshow {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@keyframes fade {
  0% {opacity: 0.0}
  4% {opacity: 1.0}
  33.33% {opacity: 1.0}
  37.33% {opacity: 0.0}
  100% {opacity: 0.0}
}

.slideshow-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 18s fade infinite linear;
  inset: 0;
  opacity: 0;
}

.renee-photo,
.travel-photo,
.scout-photo {
  border-radius: 10px;
}

.renee-photo {
  animation-delay: 0s;
}

.travel-photo {
  animation-delay: 6s;
}

.scout-photo {
  animation-delay: 12s;
}

.about-me-title {
  margin-bottom: 0;
}

.about-me {
  margin-top: 0;
  padding: 1rem;
  font-size: 1.25rem;
}