/* @media screen and (max-width: 773px) {
  .header {
    justify-content: center;
  }
} */
@keyframes fade {
  0% {opacity: 0.0}
  4% {opacity: 1.0}
  33.33% {opacity: 1.0}
  37.33% {opacity: 0.0}
  100% {opacity: 0.0}
}

.about-me {
  min-height: 83vh;
  background-color: var(--primary-color);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* .about-me__name {
  margin-top: 0;
  color: #E3C9B2;
} */

.typing-sec {
  height: 50vh;
  /* min-width: 90vw; */
  /* margin: 20px; */
  /* display: flex; */
}

.resume {
  text-decoration: none;
  color: black;
}

.about-page,
.reflection-page,
.contact-page {
  min-height: 80vh;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}

.slideshow-container {
  max-width: 700px;
  margin: auto;
  width: 100%;
}

.slideshow {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slideshow-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 18s fade infinite linear;
  inset: 0;
  opacity: 0;
}

.renee-photo,
.travel-photo,
.scout-photo {
  border-radius: 10px;
}

.renee-photo {
  animation-delay: 0s;
}

.travel-photo {
  animation-delay: 6s;
}

.scout-photo {
  animation-delay: 12s;
}

.about-me-sec {
  background-color: var(--secondary-color);
  /* height: 50vh; */
  height: 90vh;
}

.about-me-sec__title {
  padding: 30px;
  margin: 0;
  font-weight: 300;
}

.about-me-sec__bio {
  margin-top: 0;
  /* padding: 1rem; */
  padding: 30px;
  font-size: 1.25rem;
}

/* .skills-section {
  height: 50vh;
} */

.skills-section h2 {
  font-weight: 300;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50vh;
}

.skills img {
  width: 50px;
}