@keyframes fade {
  0% {opacity: 0.0}
  4% {opacity: 1.0}
  33.33% {opacity: 1.0}
  37.33% {opacity: 0.0}
  100% {opacity: 0.0}
}

.about {
  min-height: 83vh;
  background-color: var(--primary-color);

  &__typing {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__slideshow {
    max-width: 700px;
    margin: 0 auto 4rem;
    width: 100%;
  }

  &__slides {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__photo {
    position: absolute;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    animation: 18s fade infinite linear;
  }

  &__content {
    background-color: var(--secondary-color);
  }

  &__title {
    font-weight: 300;
    margin: 0;
    padding: 30px;
  }

  &__bio {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 0;
    padding: 30px;
  }
}

#photo1 { animation-delay: 0s; }

#photo2 { animation-delay: 6s; }

#photo3 { animation-delay: 12s; }

.skills {
  padding: 30px;
  
  &__title,
  &__group-title {
    font-weight: 300;
  }
  
  &__icon {
    width: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .about {
    &__title {
      font-size: 2.5rem;
    }
    &__bio {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
  }
  
  .skills {
    &__title {
      font-size: 2.5rem;
      padding-left: 3rem;
    }
    &__groups {
      display: flex;
      justify-content: space-evenly;
    }
    &__group {
      padding: 3rem;
    }
    &__group-title {
      font-size: 2rem;
    }
    &__icon {
      width: 100px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .about {
    &__photo {
      border-radius: 0;
      height: 583px;
    }

    &__content {
      width: 100%;
      height: 583px;
    }

    &__bio {
      padding-top: 0;
    }

    .lg-sizing {
      display: flex;
      align-items: flex-start;
      align-items: stretch;
      margin-top: 6rem;
    }
  }
}