@keyframes fade {
  0% {opacity: 0.0}
  4% {opacity: 1.0}
  33.33% {opacity: 1.0}
  37.33% {opacity: 0.0}
  100% {opacity: 0.0}
}

.about {
  min-height: 83vh;
  background-color: var(--primary-color);

  &__typing {
    height: 50vh;
  }

  &__slideshow {
    max-width: 700px;
    margin: auto;
    width: 100%;
  }

  &__slides {
    /* aspect-ratio: 16 / 9; */
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: 18s fade infinite linear;
    inset: 0;
    opacity: 0;
    border-radius: 10px;
  }

  &__content {
    background-color: var(--secondary-color);
  }

  &__title {
    padding: 30px;
    margin: 0;
    font-weight: 300;
  }

  &__bio {
    margin-top: 0;
    padding: 30px;
    font-size: 1.25rem;
  }
}

#photo1 { animation-delay: 0s; }

#photo2 { animation-delay: 6s; }

#photo3 { animation-delay: 12s; }

.skills {
  padding: 30px;
  
  &__title,
  &__group-title {
    font-weight: 300;
  }
  
  &__icon {
    width: 50px;
  }
}